.container {
  transform: perspective(9cm) rotateX(5deg) rotateY(var(--zed));
  width: var(--sc);
  height: 100px;
  transform-style: preserve-3d;
}

.building_face {
  position: absolute;
  width: var(--sc);
  height: 100px;
  line-height: 100px;
  font-size: 100px;
  text-align: center;
  background-color: salmon;
}

.roof {
  border-bottom: 50px solid #555;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: var(--sc);
  background-color: transparent;
  transform-origin: bottom center;
}

.front {
  transform: translate3d(0, 0, var(--sct));
}

.front_roof {
  transform: translate3d(0, -100%, var(--sct)) rotateX(30deg);
}

.left_roof {
  transform: rotateY(-90deg) translate3d(0, -100%, var(--sct)) rotateX(30deg);
}

.right_roof {
  transform: rotateY(90deg) translate3d(0, -100%, var(--sct)) rotateX(30deg);
}

.left {
  transform: rotateY(-90deg) translate3d(0, 0, var(--sct));
}

.right {
  transform: rotateY(90deg) translate3d(0, 0, var(--sct));
}
