.background {
  background-color: rgb(12, 12, 14);
  bottom: 0px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
}

.container {
  bottom: 0px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  transition: all 1s;
  overflow: hidden;
}

.container-open {
  border-radius: 2rem;
  right: 0px;
  transform: scale(0.8) translateX(20%);
  transition: all 1s;
}

.menuButton {
  color: white;
  height: 3rem;
  top: 4rem;
  position: absolute;
  left: 4rem;
  width: 3rem;
}
