/* Lightning flash */
.lightning {
  background-color: var(--lightning-yellow);
  border-radius: 100%;
  box-shadow: 0px 0px var(--shadow-length) var(--shadow-length)
    var(--lightning-yellow);
  position: absolute;
  filter: var(--cloud-filter-id);
  width: var(--lightning-width);
  top: var(--lightning-top);
  opacity: 0;
  left: var(--lightning-left);
  transform: var(--lightning-rotation);
  animation-name: lightning;
  animation-duration: var(--lightning-duration);
  animation-iteration-count: infinite;
}

@keyframes lightning {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 0;
  }
  2% {
    opacity: 0.5;
  }
  3% {
    opacity: 0.75;
  }
  4% {
    opacity: 0.5;
  }
  5% {
    opacity: 1;
  }
  6% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
