/* Lightning flash */
.lightning {
  background-color: var(--lightning-yellow);
  border-radius: 100%;
  box-shadow: 0px 0px var(--shadow-length) var(--shadow-length)
    var(--lightning-yellow);
  position: absolute;
  filter: var(--cloud-filter-id);
  width: var(--lightning-width);
  top: var(--lightning-top);
  opacity: 0;
  left: var(--lightning-left);
  transform: var(--lightning-rotation);
  animation-name: lightning;
  animation-duration: var(--lightning-duration);
  animation-fill-mode: forwards;
}

@keyframes lightning {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.75;
  }
  70% {
    opacity: 0.5;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
