/* Layout of the component */
.layout {
  background-color: var(--color-background);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: fixed;
  left: -50px;
  right: -50px;
  top: -50px;
  bottom: -50px;
}
