/* Font declarations */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

/* CSS Variable definitions */
:root {
  --color-background: #000102;
  --color-black: #000;
  --color-blue: #3454d1;
  --color-gray: #7c8483;
  --color-lightning: rgba(247, 247, 37, 0.541);
  --color-red: #ff1b1c;
  --color-white: #fffffc;
  --shadow: box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  font-size: 6px;
}

/* Solid-Start styling below */
body {
  font-family: Montserrat, Gordita, Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}
